html{
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  align-items: center;  
  background: linear-gradient(60deg, rgba(128,253,355,1) 16%, rgba(255,228,123,1) 78%);
  display:flex;
  font-display: swap;
  height: inherit;
  justify-content:center;
}

.calculator{
  background: rgba(255,255,255,0.2);
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(0,0,0,.5);
  width: 400px;
  height: 625px;
  padding: 20px;
}

.calc-screen{
  background: rgba(255,255,255,1);
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 35px;
  text-align: right;
  height: 80px;
  padding: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  color:black;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.button-row{
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.button{
  background: rgba(255,255,255,1);
  border: none;
  outline: none;
  color: black;
  font-family: 'Trebuchet MS', sans-serif;
  border-radius: 10px;
  flex-basis: 20%;
  height: 65px;
  font-size: 25px;
}

.clear-button{
  background: rgba(0,0,0,.6);
  border: none;
  outline: none;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  border-radius: 15px;
  flex-basis: 47%;
  height: 65px;
  font-size: 25px;
}

.del-button{
    background: rgba(0,0,0,.6);
    border: none;
    outline: none;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    flex-basis: 20%;
    height: 65px;
    font-size: 25px;
}

.paren-button{
  background: rgba(255,255,255,1);
  border: none;
  outline: none;
  color: black;
  font-family: 'Trebuchet MS', sans-serif;
  border-radius: 10px;
  flex-basis: 33%;
  height: 65px;
  font-size: 25px;
}

.operation-button{
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(100, 224, 255, 0.8);
  border: none;
  outline: none;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  border-radius: 15px;
  flex-basis: 20%;
  height: 65px;
  font-size: 30px;
}

.equals-button{
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(255, 231, 120, 0.8);
  border: none;
  outline: none;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  border-radius: 15px;
  flex-basis: 20%;
  height: 65px;
  font-size: 30px;
}


.button:hover{
  background-color: inherit;
}

.clear-button:hover{
  background-color: inherit;
  color: inherit;
}

.del-button:hover{
  background-color: inherit;
  color: inherit;
}

.paren-button:hover{
  background-color: inherit;
}

.operation-button:hover{
  background-color: inherit;
  color: inherit;
}

.equals-button:hover{
  background-color: inherit;
  color: inherit;
}

.operation-button:active{
  background-color: pink;
}

.equals-button:active{
  background-color: pink;
}




